<div class="card">
  <a [routerLink]="['/play-course/', 'QzIz2Q0UlposxdXm3XD6']">
    <img class="card__image" src="assets/images/example.png" alt="コース画像" />
  </a>

  <div class="card__contents">
    <img class="card__avatar" src="https://placehold.jp/80x80.png" alt="" />

    <div class="card__items">
      <a [routerLink]="">
        <p class="card__title">コースタイトル</p>
        <span class="card__date">
          作成日:{{
            course.createdAt
              ? (course.createdAt.toDate() | date: 'yyyy/MM/dd')
              : '2020/12/05'
          }}</span
        >
      </a>
    </div>
    <button
      [matMenuTriggerFor]="menuRef"
      class="card__menu-btn"
      mat-icon-button
    >
      <mat-icon class="material-icons"> more_vert </mat-icon>
    </button>
    <mat-menu #menuRef="matMenu">
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>削除</span>
      </button>
    </mat-menu>
  </div>
</div>
