<div class="create">
  <div class="container">
    <h1 class="course-title">コース作成</h1>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step>
        <form [formGroup]="form">
          <ng-template matStepLabel>タイトル</ng-template>
          <mat-form-field>
            <mat-label>タイトル</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="title"
              placeholder="タイトル"
              required
            />
            <mat-error *ngIf="form.get('title').hasError('required')"
              >必須入力です</mat-error
            >
          </mat-form-field>
        </form>
        <div class="image">
          <div class="image__label">サムネイル画像を追加</div>
          <div class="cropper">
            <deer-crop-trigger
              [options]="{
                aspectRatio: 1 / 1
              }"
              (image)="thumbnailImage($event)"
            ></deer-crop-trigger>
          </div>
        </div>
        <div class="btn__wrapper">
          <button class="create__btn" matStepperNext>つぎへ</button>
        </div>
      </mat-step>
      <div [formGroup]="form">
        <div formArrayName="questions">
          <ng-container
            *ngFor="let question of questionForms.controls; index as i"
          >
            <mat-step>
              <ng-template matStepLabel>{{ i + 1 }}問目</ng-template>

              <div [formGroupName]="i">
                <mat-form-field appearance="outline">
                  <mat-label>問題文</mat-label>
                  <textarea
                    matTextareaAutosize
                    matInput
                    rows="5"
                    cols="40"
                    autocomplete="off"
                    formControlName="title"
                    placeholder="？"
                    required
                  ></textarea>
                  <mat-error
                    *ngIf="
                      questionForms.controls[i]
                        .get('title')
                        .hasError('required')
                    "
                    >必須入力です</mat-error
                  >
                </mat-form-field>
                <div class="image">
                  <div class="image__label">ヒント画像を追加</div>
                  <div class="cropper">
                    <deer-crop-trigger
                      [options]="{
                        aspectRatio: 1 / 1
                      }"
                      (image)="onCroppedImage($event, i)"
                    ></deer-crop-trigger>
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>ヒント</mat-label>
                  <input
                    matInput
                    autocomplete="off"
                    formControlName="hint"
                    placeholder="ヒント"
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>入力形式のヒント</mat-label>
                  <input
                    matInput
                    autocomplete="off"
                    formControlName="inputHint"
                    placeholder="「カタカナで入力してね」など"
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>答え</mat-label>
                  <input
                    matInput
                    autocomplete="off"
                    formControlName="answer"
                    placeholder="答え"
                    required
                  />
                  <mat-error
                    *ngIf="
                      questionForms.controls[i]
                        .get('answer')
                        .hasError('required')
                    "
                    >必須入力です</mat-error
                  >
                </mat-form-field>
              </div>

              <mat-hint
                >マップをクリックして問題のヒントとなる場所にピンを指定してください
                *(必須）</mat-hint
              >
              <div class="create__maparea">
                <google-map
                  height="400px"
                  width="100%"
                  [center]="center"
                  [zoom]="zoom"
                  (mapClick)="setMarker($event, i)"
                >
                  <map-marker
                    *ngIf="markerPositions[i]"
                    [position]="markerPositions[i]"
                  ></map-marker>
                </google-map>
              </div>

              <div class="btn__wrapper">
                <button class="create__btn" matStepperPrevious>もどる</button>
                <button class="create__btn" matStepperNext>つぎへ</button>
              </div>
            </mat-step>
          </ng-container>
        </div>
      </div>

      <mat-step>
        <ng-template matStepLabel>完了</ng-template>
        <div class="final">
          <h2>おつかれさま！</h2>
          <div class="btn__wrapper btn__wrapper--final">
            <button class="create__btn" (click)="stepper.previous()">
              もどる
            </button>
            <button class="create__btn" (click)="stepper.reset()">
              つくりなおす
            </button>
            <button
              class="create__btn"
              [disabled]="form.invalid || markerPositions.includes(null)"
              (click)="submit()"
            >
              作成
            </button>
          </div>
          <img src="assets/images/chasuke05.png" alt="" />
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
