<div class="container">
  <div class="profile">
    <ng-container *ngIf="$user | async as user">
      <section class="avatar-section">
        <h3>アバターの変更</h3>
        <label class="avatar-wrapper">
          <img
            class="avatar"
            [src]="imageFile ? imageFile : user.avatarUrl"
            alt=""
            (click)="crop.input.nativeElement.click()"
          />
        </label>
        <deer-crop-trigger
          class="crop"
          #crop
          [options]="{
            aspectRatio: 1 / 1
          }"
          (image)="onCroppedImage($event)"
        ></deer-crop-trigger>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!imageFile"
          (click)="updateUserAvatar()"
        >
          更新する
        </button>
      </section>
      <section class="name-section">
        <h3>名前の変更</h3>
        <p>現在の名前 {{ user.displayName }}</p>
        <mat-form-field>
          <input
            type="text"
            matInput
            autocomplete="off"
            placeholder="新しい名前"
            [formControl]="nameForm"
          />
          <mat-error *ngIf="nameForm.hasError('maxlength')"
            >30文字以内にしてください</mat-error
          >
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          [disabled]="nameForm.pristine"
          (click)="updateUserName()"
          class="button"
        >
          更新する
        </button>
      </section>
    </ng-container>
  </div>

  <section class="course">
    <h2 class="course__title">作ったコース一覧</h2>
    <div *ngIf="coursesWithUser$ | async as courseWithUser">
      <div
        *ngIf="courseWithUser.length !== 0; else showNothing"
        class="course__wrapper"
      >
        <ng-container *ngFor="let course of courseWithUser">
          <app-course-card [courseWithUser]="course"></app-course-card>
        </ng-container>
      </div>
    </div>
    <ng-template #showNothing>
      <div class="course__nothing">
        <p class="course__text">まだコースが作成されていません</p>
      </div>
    </ng-template>
  </section>
</div>
