@import 'mixins';
@import 'variables';

.course {
  padding-top: 24px;
  &__title {
    position: relative;
    padding: 0.5em 1em;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
    border-top: 4px solid $color-text;
    border-bottom: 4px solid $color-text;
    @include pc {
      font-size: 32px;
    }
    &::before {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: -24px;
      border: 12px solid transparent;
      border-top: 12px solid #fff;
      z-index: 2;
    }
    &::after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: -33px;
      border: 16px solid transparent;
      border-top: 16px solid $color-text;
      z-index: 1;
    }
  }
}
