@import 'mixins';
@import 'variables';

.setting {
  padding: 12px 12px;
  text-align: center;
  &__title {
    position: relative;
    padding: 0.5em 1em;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
    border-top: 4px solid $color-text;
    border-bottom: 4px solid $color-text;
    @include pc {
      font-size: 32px;
    }
    &::before {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: -24px;
      border: 12px solid transparent;
      border-top: 12px solid #fff;
      z-index: 2;
    }
    &::after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: -33px;
      border: 16px solid transparent;
      border-top: 16px solid $color-text;
      z-index: 1;
    }
  }
  &__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 24px;
    padding: 40px 0;
  }
  &__nothing {
    margin: 100px 0;
    text-align: center;
  }
  &__text {
    font-size: 24px;
  }
}
button {
  display: block;
  margin: 0 auto;
}

.avatar-section {
  margin-bottom: 40px;
  color: black;
}

.name-section {
  color: black;
}

.avatar-wrapper {
  width: 160px;
  display: block;
  position: relative;
  margin: 0 auto 16px;
  &__avatar-img {
    padding-bottom: 8px;
  }
  &::before {
    font-family: 'Material Icons';
    content: '\e439';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #c7d0d8;
    z-index: 1;
  }
  &--nouser {
    &::before {
      display: none;
    }
  }
}

.avatar {
  width: 160px;
  display: block;
  position: relative;
  margin: 0 auto 16px;
  border-radius: 50%;
  padding-top: 4px;
}

.crop {
  display: none;
}
