<div class="question">
  <div class="container">
    <ng-container *ngIf="course$ | async as course">
      <h1 class="course-title">{{ course.title }}</h1>
    </ng-container>
    <ng-container *ngIf="question$ | async as question">
      <p class="question__num">問題 {{ questionNumber }} / 3</p>

      <div class="question__contents">
        <div class="question__textarea">
          <h2 class="question__title">{{ question.title }}</h2>
          <img
            *ngIf="question.imageURL"
            [src]="question.imageURL"
            alt=""
            class="question__img"
          />
          <form (ngSubmit)="openJudgeDialog(question)">
            <mat-form-field appearance="outline">
              <mat-label>答えを入力</mat-label>
              <input [formControl]="answerCtrl" matInput autocomplete="off" />
              <mat-hint *ngIf="question.inputHint">{{
                question.inputHint
              }}</mat-hint>
            </mat-form-field>

            <div class="question__action">
              <button
                class="question__btn"
                [disabled]="answerCtrl.pristine || answerCtrl.invalid"
              >
                答える
              </button>
            </div>
          </form>
        </div>
        <div class="question__maparea">
          <google-map
            [center]="question.mapPosition"
            width="100%"
            height="456px"
          >
            <map-marker
              *ngIf="question.mapPosition"
              [position]="question.mapPosition"
            ></map-marker>
          </google-map>
        </div>
      </div>

      <div class="question__footer">
        <button mat-button routerLink="/">コース選択に戻る</button>
      </div>
    </ng-container>
  </div>
</div>
