<section class="useage">
  <div class="useage__inner">
    <div class="useage__title">遊び方</div>
    <div class="useage__list">
      <dl class="useage__data">
        <div class="useage__img">
          <img
            class="useage__screen"
            src="assets/images/asobikata_erabu.png"
            alt=""
          />
        </div>
        <div class="useage__contents">
          <dt class="useage__dt">コースを選ぶ。</dt>
          <dd class="useage__dd">
            コース一覧から遊びたいコースを選んで、クリックしよう。
          </dd>
          <div class="useage__chasuke">
            <img src="assets/images/chasuke01.png" alt="" />
          </div>
        </div>
      </dl>
      <dl class="useage__data">
        <div class="useage__img">
          <img
            class="useage__screen"
            src="assets/images/asobikata_kaitou.png"
            alt=""
          />
          <img src="assets/images/chasuke02.png" alt="" class="useage__deco" />
        </div>
        <div class="useage__contents">
          <dt class="useage__dt">3問の謎解きに回答する。</dt>
          <dd class="useage__dd">
            出題された謎解き・クイズに回答しよう。正解すると次の謎解き・クイズに進めるよ。マップから得られる手がかりや不正解の時に表示されたヒントを参考に答えを導き出そう。
          </dd>
        </div>
      </dl>
      <dl class="useage__data">
        <div class="useage__img">
          <img
            class="useage__screen"
            src="assets/images/asobikata_clear.png"
            alt=""
          />
        </div>
        <div class="useage__contents">
          <dt class="useage__dt">3問の問題に正解したらクリア！</dt>
          <dd class="useage__dd">
            5問目の謎解き・クイズに正解したら、コースクリアになるよ。色んなコースにチャレンジしよう！
          </dd>
          <div class="useage__chasuke">
            <img src="assets/images/chasuke03.png" alt="" />
          </div>
        </div>
      </dl>
    </div>
    <div class="useage__actions">
      <a routerLink="/" class="useage__btn">コースを選ぶ</a>
    </div>
  </div>
</section>
