<mat-toolbar class="header">
  <span
    ><h1 class="header__logo">
      <a class="header__link" routerLink="/" routerLinkActive="active"
        >CourseMaker</a
      >
    </h1></span
  >
  <span class="header__spacer"></span>
  <div class="header__items" *ngIf="user$ | async as user; else showLogin">
    <button
      class="header__btn header__btn--default"
      routerLink="/create-course"
      routerLinkActive="active"
    >
      コースを作成する
    </button>
    <a
      mat-icon-button
      class="header__btn header__btn--icon"
      routerLink="/create-course"
      routerLinkActive="active"
    >
      <mat-icon>add</mat-icon>
    </a>

    <img
      class="header__profileImage"
      [src]="user.avatarUrl"
      alt="プロフィール画像"
      [matMenuTriggerFor]="menu"
    />

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/settings/{{ user.uid }}">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </button>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </div>

  <ng-template #showLogin>
    <button (click)="authService.login()" class="header__btn">
      ログインする
    </button>
  </ng-template>
</mat-toolbar>
