@import 'mixins';
@import 'variables';

.header {
  background-color: $color-main;
  padding: 16px;
  width: 1000px;
  margin: 0 auto;
  &__spacer {
    flex: 1 1 auto;
  }
  &__logo {
    font-family: $font-ps;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: #111111;
  }
  &__profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff center/cover;
    margin-left: 24px;
  }
  &__btn {
    display: inline-block;
    padding: 0.75em 2em;
    color: $color-text;
    text-decoration: none;
    border: 2px solid $color-text;
    border-radius: 50px;
    font-size: 14px;
    line-height: 1;
    box-shadow: 2px 2px 0 $color-text;
    transform: translate(-2px, -2px);
    transition: 0.4s;
    @include pc {
      font-size: 18px;
    }
    &:hover {
      box-shadow: 0 0 0 $color-text;
      transform: translate(0, 0);
    }
  }
}
