@import 'mixins';
@import 'variables';

.footer {
  background: #f4f4f5;
  padding: 30px 16px;
  text-align: center;
  &__items {
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
  }
  &__item {
    display: inline-block;
    position: relative;
  }
  &__about {
    color: #555;
    text-decoration: none;
    padding: 0 10px;
  }
  &__about::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 16px;
    display: block;
    left: 0;
    top: 0;
    background: #555;
  }
  &__about::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 16px;
    display: block;
    right: 0;
    top: 0;
    background: #555;
  }
  &__about:hover {
    text-decoration: underline;
  }
  &__privacy {
    color: #555;
    text-decoration: none;
    padding: 0 10px;
  }
  &__privacy::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 16px;
    display: block;
    right: 0;
    top: 0;
    background: #555;
  }
  &__privacy:hover {
    text-decoration: underline;
  }

  &__sentence {
    margin: 30px 0 0 0;
    color: #555;
    font: $font-bs;
  }
}
